@use 'variables' as v;
//creamos un mixin para cada una de las mediaqueries, el content, será reemplazado por lo que pongamos al hacer el @include del mixin.
@mixin telefono {
   @media (min-width: v.$telefono) {
       @content;
   }
}
@mixin tablet {
   @media (min-width: v.$tablet) {
       @content;
   }
}
@mixin desktop {
   @media (min-width: v.$desktop) {
       @content;
   }
}
@mixin grid ($columnas, $espaciado) {
 display: grid;
 grid-template-columns: repeat($columnas, 1fr); //3 columnas
 gap: $espaciado; //Separación entre columnas
}