@use 'base/variables' as v;
@use 'base/mixins' as m;

.iconos{
   margin-top: 5rem; // Separación entre los iconos y el párrafo superior
   .listado-iconos{
       @include m.tablet{
           @include m.grid(3,2rem); //Puedo usar un mixin dentro de otro mixin
       }
        li{
           img{
               margin: 0 auto; //centrar la imagen
               width: 12rem; //Salían muy grandes y los quiero un poco mas pequeños
           }
           p{
               font-size: v.$fuente_cursiva;
               font-size: 3.2rem;
               color: v.$primario;
           }
       }
   }
}